*P{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

/* =============================== */

.screenOne{
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    padding-top: 40px;
    margin-top: 20px;
    background: #ddd;
    border-radius: 10px;
    text-align: center;
    height: 300px;
}

.playerOneNameInput{
    margin-top: 20px;
    width: 500px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid teal;
    padding: 15px 20px;

}

.playerOneNameInput::placeholder{
    color: black;
    font-size: 16px;   
}

.startGameBtn{
    padding: 15px 25px;
    background: #000;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

.screenOneError{
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;
    padding: 10px;
    background: red;
    color: #fff;
    display: none;
}
/* screen one end  */
/* ========================== */

.screenTwo{
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    padding-top: 40px;
    margin-top: 20px;
    background: #ddd;
    border-radius: 10px;
    text-align: center;
    height: 300px;
}

.playerOneNumber{
    margin-top: 20px;
    width: 500px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid teal;
    padding: 15px 20px;

}

.playerOneNameInput::placeholder{
    color: black;
    font-size: 16px;   
}

.sumbitOne{
    padding: 15px 25px;
    background: #000;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

.screenTwoError{
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;
    padding: 10px;
    background: red;
    color: #fff;
    display: none;
}
/* screen one end  */
/* ========================== */
